<h1>FormBuilder Example</h1>

<form [formGroup]="customerForm">
    <label for="firstName">First Name: </label>
    <input formControlName="firstName" type="text" id="firstName">
    <br>

    <label for="lastName">Last Name: </label>
    <input formControlName="lastName" type="text" id="lastName">
    <br>

    <label for="existingCustomer">Existing Customer: </label>
    <input formControlName="existingCustomer" type="checkbox" id="existingCustomer">

    <button (click)="submitForm()" type="submit">Submit Data</button>
</form>